<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../../../../dashboard.css">
</head>

<body>
  <div class="container">
    <h1>Shortened URLs</h1>
    <table>
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Clicks</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% if (urls.length> 0) { %>
          <% urls.forEach(function(url) { %>
            <tr>
              <td data-label="Short URL"><a href="<%= url.shortUrl %>" target="_blank">
                  <%= url.shortUrl %>
                </a></td>
              <td data-label="Long URL"><a href="<%= url.longUrl %>" target="_blank">
                  <%= url.longUrl %>
                </a></td>
              <td data-label="Clicks">
                <%= url.clicks %>
              </td>
              <td data-label="Created At">
                <%= new Date(url.createdAt).toLocaleString() %>
              </td>
            </tr>
            <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="4" class="text-center">No URLs found.</td>
                </tr>
                <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>